
.unlabeled-lane,
.lane {
  background-color: $lane-background;
  color: $lane-text;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  min-width: 250px;
  position: relative;
  transition: all .3s ease;
  width: 250px;

  .options {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 16px;
    transition: all .3s ease;
  }
}

.lane {
  border-radius: 5px;
  cursor: move;
  height: calc(100vh - 88px);
  margin: 6px;

  .options {

    > .toggle {
      align-items: center;
      background-color: $lane-text;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      fill: #ffffff;
      height: 18px;
      justify-content: center;
      min-height: 18px;
      min-width: 18px;
      width: 18px;
    }

    > .label {
      font-size: 14px;
      font-weight: 400;
      transition: all .3s ease;
      transform-origin: left top;

      .select {
        background: transparent;
        border: 0;
        box-shadow: none;
        cursor: pointer;
        outline: none;
        text-align-last: center;
        -webkit-appearance: none;

        &:disabled {
          text-align-last: left;
          cursor: default;
        }
      }
    }

    > .more-options {
      cursor: pointer;
      fill: $lane-text;
      font-size: 14px;
    }
  }

  &.collapsed {
    min-width: 48px;
    width: 48px;

    .options {
      flex-direction: column;

      > .label  {
        transform-origin: left top;
        transform: rotate(90deg) translate(16px, -18px);
        white-space: nowrap;
      }

      > .more-options  {
        display: none;
      }
    }

    .card,
    .add-card {
      display: none;
    }
  }
}

.new-lane {
  cursor: default;
}
