.app {
  background-color: white;
  border-radius: 3px;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

.app-title {
  font-weight: 400;
  margin-bottom: .5em;
  padding: .5em 1em;
  text-align: left;
}
